body {
    font-family: 'Quicksand', sans-serif;
    background-color: #060818;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .helpdesk:before {
        background-image: none;
    }
}

/*
	Helpdesk Header Wrapper
*/

.hd-header-wrapper {
    padding: 67px 0;
    border-radius: 4px;
}
.hd-header-wrapper h4 {
    color: #bfc9d4;
    font-size: 46px;
    padding: 0 8px;
}
.hd-header-wrapper p {
    color: #bfc9d4;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.hd-header-wrapper span.input-group-text {
    background-color: #fff;
    border-color: #fff;
    padding: 11px 16px 11px 16px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: normal !important;
}
.hd-header-wrapper span.input-group-text svg {
    font-weight: 600;
    color: #0e1726;
}
.hd-header-wrapper .input-group:hover span.input-group-text svg {
    color: #009688;
    fill: rgba(0, 150, 136, 0.27058823529411763);
}
.hd-header-wrapper .form-control:focus {
    box-shadow: none;
    border-color: #1b2e4b;
    color: #888ea8;
    background: #1b2e4b;
}
.hd-header-wrapper input {
    border: none;
    border-radius: 4px;
    padding: 20px 16px;
    color: #0e1726;
    height: 100%;
}
.input-group .input-group-prepend .input-group-text {
    border: 1px solid #1b2e4b;
    background-color: #191e3a;
    color: #888ea8;
}

/*
	Tab Section
*/


/* 	Tab Content 	*/

.hd-tab-section .accordion .card {
    border: none;
    margin-bottom: 26px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    border-radius: 12px!important;
    cursor: pointer;
    background-color: #0e1726;
}
.hd-tab-section .accordion .card .card-header {
    background-color: #0e1726;
    color: #888ea8;
    border-color: transparent;
    padding: 0;
    border-radius: 6px;
}
.hd-tab-section .accordion .card .card-header div > div {
    padding: 13px 21px;
    cursor: pointer;
    background: #0e1726;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    color: #888ea8;
    font-weight: 600;
}
.hd-tab-section .accordion .card .card-header div > div svg {
    width: 17px;
    vertical-align: middle;
    margin-right: 11px;
    color: #888ea8;
}
.hd-tab-section .accordion .card .card-header div > div[aria-expanded="true"] svg { color: #009688; }
.hd-tab-section .accordion .card:hover .card-header div > div svg { color: #009688; }
.hd-tab-section .accordion .card:not(:last-child) .card-header div > div { border-bottom: none; }
.hd-tab-section .accordion .card .card-body { padding: 20px 30px; }
.hd-tab-section .accordion .card .card-body p {
    line-height: 2.2;
    font-size: 14px;
    letter-spacing: 1px;
    color: #888ea8;
}

/*  Contact Content     */

.hd-contact-section { margin-bottom: 50px; }
.hd-contact-section .hd-slide-header {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #bfc9d4;
}
.carousel-item.community-help { padding: 13px; }
.carousel-item-content {
    max-width: 607px;
    max-width: 697px;
    margin: 0 auto;
    padding: 43px 0;
    height: 331px;
}

/*  Community help     */

.hd-contact-section .community-help .media {
    padding: 13px 25px;
    border: 1px solid #0e1726;
    border-radius: 12px;
    background: #0e1726;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
}
.hd-contact-section .community-help .media svg {
    width: 54px;
    height: 55px;
    margin-right: 11px;
    align-self: center;
    color: #bfc9d4;
    stroke-width: 1.5px;
}
.hd-contact-section .community-help .media h5 {
    color: #bfc9d4;
    font-weight: 800;
     font-size: 17px; 
    margin-bottom: 5px;
}
.hd-contact-section .community-help .media p {
    font-size: 14px;
    font-weight: 600;
    color: #888ea8;
}

/*  News updates     */

.hd-contact-section .news-updates .media {
    padding: 13px 25px;
    border: 1px solid #0e1726;
    border-radius: 12px;
    background: #0e1726;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
}
.hd-contact-section .news-updates .media svg {
    width: 54px;
    height: 55px;
    margin-right: 11px;
    color: #bfc9d4;
    stroke-width: 1.5px;
}
.hd-contact-section .news-updates .media h5 {
    color: #bfc9d4;
    font-weight: 800;
    margin-bottom: 0;
}
.hd-contact-section .news-updates .media p {
    font-size: 14px;
    font-weight: 600;
    color: #888ea8;
}


/*  Carousel indicators    */

.carousel-indicators {
    bottom: -13px;
    left: 0;
    right: 0;
    height: 22px;
}
.carousel-indicators li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 1;
    background-color: #506690;
}
.carousel-indicators li.active {
    background-color: #888ea8;
}
.carousel-control-next, .carousel-control-prev {
    opacity: 1;
    background: #060818;
}
.carousel-control-prev-icon {
    background-image: none;
    -webkit-box-shadow: 2px 5px 17px 0 rgba(31,45,61,.1);
    box-shadow: 0px 0px 19px 3px rgba(31,45,61,.1);
    padding: 9px;
    height: 33px;
    width: 33px;
    position: relative;
    border-radius: 50px;
}
.carousel-control-prev-icon svg {
    color: #bfc9d4;
    position: absolute;
    top: 4px;
    left: -1px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 23px;
}
.carousel-control-prev-icon:before { display: none; }
.carousel-control-next-icon {
    background-image: none;
    -webkit-box-shadow: 2px 5px 17px 0 rgba(31,45,61,.1);
    box-shadow: 0px 0px 19px 3px rgba(31,45,61,.1);
    padding: 9px;
    height: 33px;
    width: 33px;
    position: relative;
    border-radius: 50px;
}
.carousel-control-next-icon svg {
    color: #bfc9d4;
    position: absolute;
    top: 4px;
    left: 0;
    right: -2px;
    margin-left: auto;
    margin-right: auto;
    width: 23px;
}
.carousel-control-next-icon:before { display: none; }


/*
    Mini Footer Wrapper
*/

#miniFooterWrapper {
    color: #fff;
    font-size: 14px;
    border-top: solid 1px #0e1726;
    padding: 14px;
    -webkit-box-shadow: 0 -6px 10px 0 rgba(0,0,0,.14), 0 -1px 18px 0 rgba(0,0,0,.12), 0 -3px 5px -1px rgba(0,0,0,.2);
    box-shadow: 0 -6px 10px 0 rgba(0,0,0,.14), 0 -1px 18px 0 rgba(0,0,0,.12), 0 -3px 5px -1px rgba(0,0,0,.2);
}
#miniFooterWrapper p {
    color: #888ea8;
}
#miniFooterWrapper .arrow {
    background-color: #0e1726;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -33px;
    width: 40px;
    height: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#miniFooterWrapper .arrow p {
    align-self: center;
    margin-bottom: 0;
    color: #009688;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}
#miniFooterWrapper .copyright a {
    color: #009688;
    font-weight: 700;
    text-decoration: none;
}
@media (max-width: 1199px) {
    .carousel-control-next, .carousel-control-prev { background: transparent; }
}
@media (max-width: 991px) {
    .carousel-control-next, .carousel-control-prev { display: none; }
}

@media (max-width: 767px) {
    .hd-contact-section .community-help .media { margin-bottom: 3px; }
}
@media (max-width: 575px) {
    .carousel-item-content { height: auto; }
}