{% extends "base.html" %}

{% block title %}PW : User Database{% endblock %}

{% block css %}
<!--  BEGIN CUSTOM STYLE FILE  -->
<link href="{{url_for('static', filename='assets/css/scrollspyNav.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='assets/css/components/tabs-accordian/custom-accordions.css')}}" rel="stylesheet" type="text/css" />
<!--  END CUSTOM STYLE FILE  -->
{% endblock %}

{% block main%}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

         <!--  BEGIN TOPBAR  -->
          <!--  END TOPBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="container">

                    <div class="page-header">
                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Users</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0);">Details</a></li>
                            </ol>
                        </nav>
                    </div>

                    <div class="row layout-top-spacing">
                        <div class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow"></div>
                            
                                        <div id="accordionBasic" class="widget-header">
                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h4>Assets Added</h4>
                                                </div>
                                            </div>
                                        </div> 
                                
                                        
                                <div class="widget-content widget-content-area">
                                    <div id="toggleAccordion">  
                                        {% for assets in asset_details %}
                                        {% for asset_name, asset_id in assets.items() %}
                                      <div class="card">
                                        <div class="card-header" id="headingOne1">
                                          <section class="mb-0 mt-0">
                                            <div role="menu" class="collapsed" data-toggle="collapse" data-target="#defaultAccordionOne"                                
                                            aria-expanded="true" aria-controls="defaultAccordionOne">
                                                {{ asset_name }} <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                            </div>
                                          </section>
                                        </div>
                                     
                                        
                                    
                                        <div id="defaultAccordionOne" class="collapse" aria-labelledby="headingOne1" data-parent="#toggleAccordion">
                                            <div class="card-body">

                                                <button class="btn btn-primary mb-2 mr-2 btn-rounded"><a href="{{ url_for('user_data_view', user_data=users_data,asset_id=asset_id,asset_name=asset_name) }}"> View </a></button> 
                                                
                                                <button class="btn btn-warning mb-2 mr-2 btn-rounded"><a href="{{ url_for('user_data_edit', user_data=users_data,asset_id=asset_id,asset_name=asset_name) }}">Edit <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a></button> 
                                                
                                                <button class="btn btn-danger mb-2 mr-2"><a href="{{ url_for('delete_asset', user_data=users_data,asset_id=asset_id,asset_name=asset_name) }}">Delete</a> </button>

                                                <button class="btn btn-success mb-2 mr-2"><a href="{{ url_for('download_data', user_data=users_data,asset_id=asset_id,asset_name=asset_name) }}">Download<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg></a> </button>
                                            </div>
                                        </div>
                                     </div> 
                                     {% endfor %}
                                     {% endfor %}
                                      
                                      
                                    </div>
                                </div>
                                
                               
                                
                            </div>
                        </div>

                    </div>
                 
                    
                </div>
            </div>
        
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->
    
    {% endblock %}
    
    {% block script %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{url_for('static', filename='assets/js/scrollspyNav.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/components/ui-accordions.js')}}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->    
    {% endblock %}
</body>

<!-- Mirrored from designreset.com/cork/ltr/demo8/component_accordion.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Mar 2021 08:58:26 GMT -->
</html>