<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>PurpleWallet Dashboard </title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='/assets/img/favicon.ico')}}"/>
    <link href="{{url_for('static', filename='assets/css/loader.css')}}" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='assets/js/loader.js')}}"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&amp;display=swap" rel="stylesheet">
    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='assets/css/plugins.css')}}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="{{url_for('static', filename='plugins/apex/apexcharts.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='assets/css/dashboard/dash_2.css')}}" rel="stylesheet" type="text/css" />

    {% block css %} {% endblock %}
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body class="alt-menu sidebar-noneoverflow">
    {% block nav %}
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <!--  BEGIN NAVBAR  -->
    <div class="header-container">
        <header class="header navbar navbar-expand-sm">

            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <div class="nav-logo align-self-center">
                <a class="navbar-brand" href="{{url_for('dashboard')}}"><img alt="logo" src="{{url_for('static', filename='assets/img/pw_logo.png')}}"> <span class="navbar-brand-name">PurpleWallet</span></a>
            </div>

            <ul class="navbar-item flex-row mr-auto">
                <li class="nav-item align-self-center search-animated">
                    <form class="form-inline search-full form-inline search" role="search">
                        <div class="search-bar">
                            <input type="text" class="form-control search-form-control  ml-lg-auto" placeholder="Search...">
                        </div>
                    </form>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search toggle-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                </li>
            </ul>

                
        </header>
    </div>
    <!--  END NAVBAR  -->
    {% endblock %}

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © 2022 <a target="_blank" href="https://designreset.com/">EIRS</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">PurpleWallet <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
</footer>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{{url_for('static', filename='assets/js/libs/jquery-3.1.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/app.js')}}"></script>
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="{{url_for('static', filename='plugins/apex/apexcharts.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/dashboard/dash_2.js')}}"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <scripts>
        {% block script %}{% endblock %}
    </scripts>
  </body>
</html>