{% extends "base.html" %}

{% block title %}Sucess{% endblock %}

{% block main %}
<div>
<center>
<div class="container-lg" style="margin-top: 50px;">

   <h2 style="color: rgb(255, 255, 255); font-size: 42px" >Kindly Smoothen the Data Before Viewing it</h2>

</div>
</center>
</div>
{% endblock %}