{% extends "base.html" %}

{% block title %}PW : User Database{% endblock %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/users/user-profile.css')}}">

{% endblock %}


{% block main%}

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="layout-px-spacing">
            <div class="page-header">
                <nav class="breadcrumb-one" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0);">User Profile</a></li>
                    </ol>
                </nav>
            </div>

            <div class="row layout-spacing">

                <!-- Content -->
                <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">

                    <div class="user-profile layout-spacing">
                        <div class="widget-content widget-content-area">
                            <div class="d-flex justify-content-between">
                                <h3 class="">Info</h3>
                                <a href="user_account_setting.html" class="mt-2 edit-profile"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></a>
                            </div>
                            <div class="text-center user-info">
                                <img src="assets/img/profile-3.jpg" alt="avatar">
                                {% for data in u_data_Q_and_A %}
                                <p class="">{{data[1]}}</p>
                                {% endfor %}
                            </div>
                                                                
                            
                        </div>
                    </div>

                    <div class="user-profile layout-spacing">
                        <div class="widget-content widget-content-area">
                            <div class="d-flex justify-content-between">
                                <h3 class="">Map View</h3>
                                <a href="user_account_setting.html" class="mt-2 edit-profile"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></a>
                            </div>
                            <div class="text-center user-info">
                                <img src="{{img_url}}" alt="map id" width="200" height="200">
                            </div>
                                                                
                            
                        </div>
                    </div>


                    <div class="user-profile layout-spacing">
                        <div class="widget-content widget-content-area">
                            <div class="d-flex justify-content-between">
                                <h3 class="">Inside Images</h3>
                                <a href="user_account_setting.html" class="mt-2 edit-profile"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></a>
                            </div>
                            <div class="text-center user-info">
                                <img src="{{img_url_1}}" alt="inside image 1" width="200" height="200">
                                <br/>
                                <img src="{{img_url_2}}" alt="inside image 2" width="200" height="200">
                                <br/>
                                <img src="{{img_url_3}}" alt="inside image 3" width="200" height="200">
                                <br/>
                                <img src="{{img_url_4}}" alt="inside image 4" width="200" height="200">
                                <br/>
                                <img src="{{img_url_5}}" alt="inside image 5" width="200" height="200">
                            </div>
                                                                
                            
                        </div>
                    </div>

                    <div class="user-profile layout-spacing">
                        <div class="widget-content widget-content-area">
                            <div class="d-flex justify-content-between">
                                <h3 class="">Outside Images</h3>
                                <a href="user_account_setting.html" class="mt-2 edit-profile"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></a>
                            </div>
                            <div class="text-center user-info">
                                <div>
                                <img src="{{img_url_6}}" alt="outside image 1" width="200" height="200"></div>
                                
                                <div><img src="{{img_url_7}}" alt="outside image 2" width="200" height="200"></div>
                                
                                <div><img src="{{img_url_8}}" alt="outside image 3" width="200" height="200"></div>
                               
                            </div>
                                                                
                            
                        </div>
                    </div>

                    

                    <div class="work-experience layout-spacing ">
                        
                        <div class="widget-content widget-content-area">

                            <h3 class="">Ratings</h3>
                            
                        
                            <div class="timeline-alter">
                                {% for i in ratings_category_Q_and_A %}
                                <div class="item-timeline">
                                    <div class="t-meta-date">
                                        <p class="">{{ i[0] }}</p>
                                    </div>
                                    <div class="t-dot">
                                    </div>
                                    <div class="t-text">
                                        <p>{{ i[1] }}</p>
                                    </div>
                                </div>
                                {% endfor %} 

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">
                    

                    

                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3 class="">Property Details</h3>
                            <p>Property details goes here</p>

                            <div class="bio-skill-box">
                                {% for i in property_category_Q_and_A %}
                                <div class="row">
                                    
                                    <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">
                                        
                                        <div class="d-flex b-skills">
                                            <div>
                                            </div>
                                            <div class="">
                                                <h5>{{ i[0] }}</h5>
                                                <p>{{ i[1] }}</p>
                                            </div>
                                        </div>

                                    </div>
                                    

                                </div>
                                {% endfor %}       

                            </div>

                        </div>                                
                    </div>






                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3 class="">Facility Details</h3>
                            <p>Facility details goes here</p>

                            <div class="bio-skill-box">
                                {% for i in facility_category_Q_and_A %}
                                <div class="row">
                                    
                                    <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">
                                        
                                        <div class="d-flex b-skills">
                                            <div>
                                            </div>
                                            <div class="">
                                                <h5>{{ i[0] }}</h5>
                                                <p>{{ i[1] }}</p>
                                            </div>
                                        </div>

                                    </div>
                                    

                                </div>
                                {% endfor %}       

                            </div>

                        </div>                                
                    </div>



                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3 class="">Fire Details</h3>
                            <p>Fire details goes here</p>

                            <div class="bio-skill-box">
                                {% for i in fire_category_Q_and_A %}
                                <div class="row">
                                    
                                    <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">
                                        
                                        <div class="d-flex b-skills">
                                            <div>
                                            </div>
                                            <div class="">
                                                <h5>{{ i[0] }}</h5>
                                                <p>{{ i[1] }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    

                                </div>
                                {% endfor %}

                                

                            </div>

                        </div>                                
                    </div>




                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3 class="">Flammable Details</h3>
                            <p>Flammable details goes here</p>

                            <div class="bio-skill-box">
                                {% for i in flammable_category_Q_and_A %}
                                <div class="row">
                                    
                                    <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">
                                        
                                        <div class="d-flex b-skills">
                                            <div>
                                            </div>
                                            <div class="">
                                                <h5>{{ i[0] }}</h5>
                                                <p>{{ i[1] }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    

                                </div>
                                {% endfor %}

                                

                            </div>

                        </div>                                
                    </div>



                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3 class="">Money Details</h3>
                            <p>Money details goes here</p>

                            <div class="bio-skill-box">
                                {% for i in money_category_Q_and_A %}
                                <div class="row">
                                    
                                    <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">
                                        
                                        <div class="d-flex b-skills">
                                            <div>
                                            </div>
                                            <div class="">
                                                <h5>{{ i[0] }}</h5>
                                                <p>{{ i[1] }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    

                                </div>
                                {% endfor %}

                                

                            </div>

                        </div>                                
                    </div>


                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3 class="">Perils Details</h3>
                            <p>Perils details goes here</p>

                            <div class="bio-skill-box">
                                {% for i in perils_category_Q_and_A %}
                                <div class="row">
                                    
                                    <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">
                                        
                                        <div class="d-flex b-skills">
                                            <div>
                                            </div>
                                            <div class="">
                                                <h5>{{ i[0] }}</h5>
                                                <p>{{ i[1] }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    

                                </div>
                                {% endfor %}

                                

                            </div>

                        </div>                                
                    </div>



                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3 class="">Security Details</h3>
                            <p>Security details goes here</p>

                            <div class="bio-skill-box">
                                {% for i in security_category_Q_and_A %}
                                <div class="row">
                                    
                                    <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">
                                        
                                        <div class="d-flex b-skills">
                                            <div>
                                            </div>
                                            <div class="">
                                                <h5>{{ i[0] }}</h5>
                                                <p>{{ i[1] }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    

                                </div>
                                {% endfor %}

                                

                            </div>

                        </div>                                
                    </div>



                    <div class="bio layout-spacing ">
                        <div class="widget-content widget-content-area">
                            <h3 class="">Utilities Details</h3>
                            <p>Utilities details goes here</p>

                            <div class="bio-skill-box">
                                {% for i in utilities_category_Q_and_A %}
                                <div class="row">
                                    
                                    <div class="col-12 col-xl-6 col-lg-12 mb-xl-5 mb-5 ">
                                        
                                        <div class="d-flex b-skills">
                                            <div>
                                            </div>
                                            <div class="">
                                                <h5>{{ i[0] }}</h5>
                                                <p>{{ i[1] }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    

                                </div>
                                {% endfor %}

                                

                            </div>

                        </div>                                
                    </div>





                </div>

            </div>
            </div>
   
    </div>
    <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->

{% endblock %}

