{% extends "base.html" %}

{% block title %}PW : User Database{% endblock %}

{% block main%}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>



        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="page-header">
                    <nav class="breadcrumb-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Data</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0);">User Database</a></li>
                        </ol>
                    </nav>
                </div>
                
                <div class="seperator-header layout-top-spacing">
                    <h4 class="">User Database</h4>
                </div>
                
                <div class="row layout-spacing">
                    <div class="col-lg-12">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-content widget-content-area">
                                <table id="show-hide-col" class="table table-hover" style="width:100%">
                                    <thead style="border-bottom: none;">
                                        <tr>
                                            <th>User ID</th>
                                            <th>User Name</th>
                                            <th>Status</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in users_data %}
                                        
                                        <tr>
                                            
                                            
                                            <td>{{ i[0] }}</td>
                                            <td>{{ i[1] }}</td>
                                            <td>Completed</td>
                                            <td><a href="{{ url_for('user_details', users_data=i[0]) }}">View Details</a></td>
                                        
                                        </tr>
                                    
                                        {% endfor %}
                                        
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>User Id</th>
                                            <th>User Name</th>
                                            <th>Status</th>
                                            <th>Details</th>
                                            
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->

{% endblock %}
    
    
    
    {% block script %}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{url_for('static', filename='plugins/table/datatable/datatables.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/table/datatable/button-ext/dataTables.buttons.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/table/datatable/custom_miscellaneous.js')}}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->    
    {% endblock %}
</body>
