{% extends "base.html" %}

{% block title %}PW : User Database{% endblock %}

{% block css %}

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/dropify/dropify.min.css')}}">
    <link href="{{url_for('static', filename='assets/css/users/account-setting.css')}}" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->

{% endblock %}


{% block main%}

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="page-header">
                    <nav class="breadcrumb-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">User Details</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0);">Asset Details</a></li>
                        </ol>
                    </nav>
                </div>  
                
<form id="general-info" class="section general-info" method="post" action= "{{ url_for('user_data_update', user_data=user_data, asset_id=asset_id) }}">

<!--  START General Information AREA  -->

<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    
                        <div class="info">
                            <h6 class="">General Information</h6>
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4">
                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="{{url_for('static', filename='assets/img/pw_logo.png')}}" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                
                                                {% if counter == False %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Warehouse Name</label>
                                                        <input type="text" class="form-control mb-4" value = "{{asset_name}}" name="asset_name" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == True %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Warehouse Name</label>
                                                        <input type="text" class="form-control mb-4" value = "{{asset_name_output}}" name="asset_name" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Country</label>
                                                        <input type="text" class="form-control mb-4" value = "{{ country }}" name="country" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == True %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Country</label>
                                                        <input type="text" class="form-control mb-4" value = "{{ country_output }}" name="country" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Warehouse Address</label>
                                                        <input type="text" class="form-control mb-4" value = "{{address}}" name="address" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == True %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Warehouse Address</label>
                                                        <input type="text" class="form-control mb-4" value = "{{address_output}}" name="address" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Date of inspection</label>
                                                        <input type="text" class="form-control mb-4" name="inspection_date" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == True %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Date of inspection</label>
                                                        <input type="text" class="form-control mb-4" value = "{{i_date}}" name="inspection_date" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Name of surveyor</label>
                                                        <input type="text" class="form-control mb-4" value = "PurpleWallet" name="surveyor" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == True %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Name of surveyor</label>
                                                        <input type="text" class="form-control mb-4" value = "{{surveyor}}" name="surveyor" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Person contacted for inspection - Position - Contact </label>
                                                        <input type="text" class="form-control mb-4" value = "Mr JAYASH KHANANI General Manager +22890591030" name="contact_person" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                                {% if counter == True %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">Person contacted for inspection - Position - Contact </label>
                                                        <input type="text" class="form-control mb-4" value = "{{contact}}" name="contact_person" >
                                                    </div>
                                                </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div> 
</div>
<!--  END General Information AREA  -->

<!--  START PROPERTY Q AND A AREA  -->
                <div class="account-settings-container layout-top-spacing">
                    <div class="account-content">
                        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                   
                                        <div class="info">
                                            <h6 class="">Property</h6>
                                            <div class="row">
                                                <div class="col-lg-11 mx-auto">
                                                    <div class="row">
                                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                                            <div class="upload mt-4 pr-md-4">
                                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="{{url_for('static', filename='assets/img/pw_logo.png')}}" data-max-file-size="2M" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                            <div class="form">
                                                                {% if counter == True %}
                                                                {% if property_category_Q_and_A[0] != None  %}
                                                                {% for i in property_category_Q_and_A %}
                                                                <div class="form-group">
                                                                    <label for="profession">{{ i[0] }}</label>
                                                                    <input type="text" class="form-control mb-4" name="{{'property_' + loop.index | string}}" value = "{{i[1]}}" >
                                                                </div>
                                                                {% endfor %}
                                                                {% endif %}
                                                                {% endif %}

                                                                {% if counter == False %}
                                                                {% if property_category_Q_and_A[0] != None  %}
                                                                {% for i in property_category_Q_and_A %}
                                                                <div class="form-group">
                                                                    <label for="profession">{{ i[0] }}</label>
                                                                    <input type="text" class="form-control mb-4" name="{{'property_' + loop.index | string}}" value = "{{''.join(i[1])}}" >
                                                                </div>
                                                                {% endfor %}
                                                                {% endif %}
                                                                {% endif %}

                                                                {% if property_category_Q_and_A[0] == None  %}
                                                                {% for j in property_category_Q %}
                                                                <div class="form-group">
                                                                    <label for="profession">{{ j }}</label>
                                                                    <input type="text" class="form-control mb-4" name="{{'property_' + loop.index | string}}" >
                                                                </div>
                                                                {% endfor %}
                                                                {% endif %}

                                                                {% if counter == False %}
                                                                <div class="form-group">
                                                                    <label for="platform-description">Remarks</label>
                                                                    <textarea class="form-control mb-4"  rows="4" name = "property_remarks" ></textarea>
                                                                </div>
                                                                {% endif %}

                                                                

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
<!--  END PROPERTY Q AND A AREA  -->


<!--  START FACILITIES Q AND A AREA  -->
<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                   
                        <div class="info">
                            <h6 class="">Facility</h6>
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4">
                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="{{url_for('static', filename='assets/img/pw_logo.png')}}" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                {% if counter == True %}
                                                {% if facility_category_Q_and_A[0] != None  %}
                                                {% for i in facility_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'facility_' + loop.index | string}}"  value = "{{i[1]}}" >
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if counter == False %}
                                                {% if facility_category_Q_and_A[0] != None  %}
                                                {% for i in facility_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'facility_' + loop.index | string}}"  value = "{{''.join(i[1])}}" >
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if facility_category_Q_and_A[0] == None  %}
                                                {% for j in facility_category_Q %}
                                                <div class="form-group">
                                                    <label for="profession">{{ j }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'facility_' + loop.index | string}}"  >
                                                </div>
                                                {% endfor %}
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="form-group">
                                                    <label for="platform-description">Remarks</label>
                                                    <textarea class="form-control mb-4"  rows="4" name = "facility_remarks" ></textarea>
                                                </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div> 
</div>
<!--  END FACILITIES Q AND A AREA  -->

<!--  START FIRE Q AND A AREA  -->
<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    
                        <div class="info">
                            <h6 class="">Fire</h6>
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4">
                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="{{url_for('static', filename='assets/img/pw_logo.png')}}" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                {% if counter == True %}
                                                {% if fire_category_Q_and_A[0] != None  %}
                                                {% for i in fire_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'fire_' + loop.index | string}}" value = "{{i[1]}}">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if counter == False %}
                                                {% if fire_category_Q_and_A[0] != None  %}
                                                {% for i in fire_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'fire_' + loop.index | string}}" value = "{{''.join(i[1])}}">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if fire_category_Q_and_A[0] == None  %}
                                                {% for j in fire_category_Q %}
                                                <div class="form-group">
                                                    <label for="profession">{{ j }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'fire_' + loop.index | string}}" >
                                                </div>
                                                {% endfor %}
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="form-group">
                                                    <label for="platform-description">Remarks</label>
                                                    <textarea class="form-control mb-4"  rows="4" name = "fire_remarks" ></textarea>
                                                </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div> 
</div>
<!--  END FIRE Q AND A AREA  -->

<!--  START Flammable Q AND A AREA  -->
<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    
                        <div class="info">
                            <h6 class="">Flammable</h6>
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4">
                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="{{url_for('static', filename='assets/img/pw_logo.png')}}" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                {% if counter == True %}
                                                {% if flammable_category_Q_and_A[0] != None  %}
                                                {% for i in flammable_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'flammable_' + loop.index | string}}" value = "{{i[1]}}" >
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if counter == False %}
                                                {% if flammable_category_Q_and_A[0] != None  %}
                                                {% for i in flammable_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'flammable_' + loop.index | string}}" value = "{{''.join(i[1])}}" >
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if flammable_category_Q_and_A[0] == None  %}
                                                {% for j in flammable_category_Q %}
                                                <div class="form-group">
                                                    <label for="profession">{{ j }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'flammable_' + loop.index | string}}" >
                                                </div>
                                                {% endfor %}
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="form-group">
                                                    <label for="platform-description">Remarks</label>
                                                    <textarea class="form-control mb-4"  rows="4" name = "flammable_remarks" ></textarea>
                                                </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div> 
</div>
<!--  END FLAMMABLE Q AND A AREA  -->

<!--  START MONEY Q AND A AREA  -->
<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    
                        <div class="info">
                            <h6 class="">Money</h6>
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4">
                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="{{url_for('static', filename='assets/img/pw_logo.png')}}" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                {% if counter == True %}
                                                {% if money_category_Q_and_A[0] != None  %}
                                                {% for i in money_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'money_' + loop.index | string}}" value = "{{i[1]}}">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}


                                                {% if counter == False %}
                                                {% if money_category_Q_and_A[0] != None  %}
                                                {% for i in money_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'money_' + loop.index | string}}" value = "{{''.join(i[1])}}">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if money_category_Q_and_A[0] == None  %}
                                                {% for j in money_category_Q %}
                                                <div class="form-group">
                                                    <label for="profession">{{ j }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'money_' + loop.index | string}}" >
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                
                                                {% if counter == False %}
                                                <div class="form-group">
                                                    <label for="platform-description">Remarks</label>
                                                    <textarea class="form-control mb-4"  rows="4" name = "money_remarks" ></textarea>
                                                </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div> 
</div>
<!--  END MONEY Q AND A AREA  -->

<!--  START PERILS Q AND A AREA  -->
<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    
                        <div class="info">
                            <h6 class="">Perils</h6>
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4">
                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="{{url_for('static', filename='assets/img/pw_logo.png')}}" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                {% if counter == True %}
                                                {% if perils_category_Q_and_A[0] != None  %}
                                                {% for i in perils_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'perils_' + loop.index | string}}" value = "{{i[1]}}">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if counter == False %}
                                                {% if perils_category_Q_and_A[0] != None  %}
                                                {% for i in perils_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'perils_' + loop.index | string}}" value = "{{''.join(i[1])}}">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if perils_category_Q_and_A[0] == None  %}
                                                {% for j in perils_category_Q %}
                                                <div class="form-group">
                                                    <label for="profession">{{ j }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'perils_' + loop.index | string}}" >
                                                </div>
                                                {% endfor %}
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="form-group">
                                                    <label for="platform-description">Remarks</label>
                                                    <textarea class="form-control mb-4"  rows="4" name = "perils_remarks" ></textarea>
                                                </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div> 
</div>
<!--  END PERILS Q AND A AREA  -->


<!--  START SECURITY Q AND A AREA  -->
<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    
                        <div class="info">
                            <h6 class="">Security</h6>
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4">
                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="{{url_for('static', filename='assets/img/pw_logo.png')}}" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                {% if counter == True %}
                                                {% if security_category_Q_and_A[0] != None  %}
                                                {% for i in security_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'security_' + loop.index | string}}" value = "{{i[1]}}">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if counter == False %}
                                                {% if security_category_Q_and_A[0] != None  %}
                                                {% for i in security_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'security_' + loop.index | string}}" value = "{{''.join(i[1])}}">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if security_category_Q_and_A[0] == None  %}
                                                {% for j in security_category_Q %}
                                                <div class="form-group">
                                                    <label for="profession">{{ j }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'security_' + loop.index | string}}" >
                                                </div>
                                                {% endfor %}
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="form-group">
                                                    <label for="platform-description">Remarks</label>
                                                    <textarea class="form-control mb-4"  rows="4" name = "security_remarks" ></textarea>
                                                </div>
                                                {% endif %}

                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div> 
</div>
<!--  END SECURITY Q AND A AREA  -->


<!--  START UTILITY Q AND A AREA  -->
<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                   
                        <div class="info">
                            <h6 class="">Utility</h6>
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4">
                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="{{url_for('static', filename='assets/img/pw_logo.png')}}" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                {% if counter == True %}
                                                {% if utilities_category_Q_and_A[0] != None  %}
                                                {% for i in utilities_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'utilities_' + loop.index | string}}" value = "{{i[1]}}">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}
                                                
                                                {% if counter == False %}
                                                {% if utilities_category_Q_and_A[0] != None  %}
                                                {% for i in utilities_category_Q_and_A %}
                                                <div class="form-group">
                                                    <label for="profession">{{ i[0] }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'utilities_' + loop.index | string}}" value = "{{''.join(i[1])}}">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                {% if utilities_category_Q_and_A[0] == None  %}
                                                {% for j in utilities_category_Q %}
                                                <div class="form-group">
                                                    <label for="profession">{{ j }}</label>
                                                    <input type="text" class="form-control mb-4" name="{{'utilities_' + loop.index | string}}" >
                                                </div>
                                                {% endfor %}
                                                {% endif %}

                                                {% if counter == False %}
                                                <div class="form-group">
                                                    <label for="platform-description">Remarks</label>
                                                    <textarea class="form-control mb-4"  rows="4" name = "utility_remarks" ></textarea>
                                                </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div> 
</div>
<!--  END UTILITY Q AND A AREA  -->

<!--  START Ratings AREA  -->
<div class="account-settings-container layout-top-spacing">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    
                        <div class="info">
                            <h6 class="">Rate Each Category as Low, Medium or High</h6>
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-12 col-md-4">
                                            <div class="upload mt-4 pr-md-4">
                                                <input type="file" id="input-file-max-fs" class="dropify" data-default-file="{{url_for('static', filename='assets/img/pw_logo.png')}}" data-max-file-size="2M" />
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                            <div class="form">
                                                {% if counter == False %}
                                                {% for module in cat_list %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">{{ module }}</label>
                                                        <input type="text" class="form-control mb-4" value = "Medium" name="{{'ratings_' + loop.index | string}}" >
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% endif %}

                                                {% if counter == True %}
                                                {% for i in ratings_category_Q_and_A %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location">{{ i[0] }}</label>
                                                        <input type="text" class="form-control mb-4" value = "{{ i[1] }}" name="{{'ratings_' + loop.index | string}}" >
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                    
                    

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div> 
</div>
<!--  END Ratings AREA  -->
<!-- 
<div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
    
        <div class="info">
            <h5 class="">General Risk Summary</h5>
            <div class="row">
                
                <div class="col-md-11 mx-auto">

                    <div class="platform-div">
                        <div class="form-group">
                            <label for="platform-title">Maximum Possible loss</label>
                            <input type="text" class="form-control mb-4"  name = "MPL" >
                        </div>
                        <div class="form-group">
                            <label for="platform-description">Description</label>
                            <textarea class="form-control mb-4"  rows="10" name = "MPL_desc" ></textarea>
                        </div>

                        <div class="form-group">
                            <label for="platform-title">Estimated Possible loss</label>
                            <input type="text" class="form-control mb-4" name = "EPL"  >
                        </div>
                        <div class="form-group">
                            <label for="platform-description">Description</label>
                            <textarea class="form-control mb-4"  rows="10" name = "EPL_desc"></textarea>
                        </div>


                        <div class="form-group">
                            <label for="platform-description">Assessor general comments</label>
                            <textarea class="form-control mb-4"  rows="10" name = "AGC" ></textarea>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    
</div>
-->





<!--  Black shadow div  -->
</div>


<!--  START BUTTON AREA  -->
<br/>
                                            <div>
                                                <button class="btn btn-primary btn-block mb-2 mr-4">Update</button>
                                            </div>
                                            <br/>
                                            <br/>
<!--  END BUTTON AREA  -->
</form>

            </div>
        </div>
        <!--  END CONTENT AREA  -->
 
    </div>
    <!-- END MAIN CONTAINER -->
    {% endblock %}

    {% block script %}
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->

    <script src="{{url_for('static', filename='plugins/dropify/dropify.min.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/blockui/jquery.blockUI.min.js')}}"></script>
    <!-- <script src="plugins/tagInput/tags-input.js"></script> -->
    <script src="{{url_for('static', filename='assets/js/users/account-settings.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/highlight/highlight.pack.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/scrollspyNav.js')}}"></script>
    <script src="{{url_for('static', filename='plugins/file-upload/file-upload-with-preview.min.js')}}"></script>

   
    <!--  END CUSTOM SCRIPTS FILE  -->
    {% endblock %}
</body>

<!-- Mirrored from designreset.com/cork/ltr/demo8/user_account_setting.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Mar 2021 08:59:26 GMT -->
</html>